body {
    background-color: rgb(249, 246, 246);
}

.navbar-brand {
    font-size: xx-large;
    background-color: teal;

}

#bs-example-navbar-collapse-1 {
    background-color: white;
}

article {
    background-color: white;
}

h1, h2 {
    color: teal;
}

#chart-image {
    float: left;
    width: 80%;
}

#image-photo {
    width: 45%;
}

#viz-image {
    width: 100%;
}
